*
!*.py
!*.slurm
!*.yml
!.gitignore
!readme.md
!*/
tests/*
aizynthfinder/*
docs/*
.github/
task*
*.csv
*.hdf*
aiz_data/
experiment/results/
experiment/splitted/
experiment/result_extract/
experiment/gnn/
experiment/xgboost/
experiment/slurm_output/
experiment/figures*/
experiment/train_test/
experiment/archive/
*access_token*
*1k*.py
*10k*.py
*50k*.py
*200k*.py